body {
   background-color: #F1F1F1;
}
.mainLogo {
   height: 10%;
   width: 100%;
   text-align: center;
}
.mainLogo img {
   height: 50%;
   width: 50%;
   margin: 0 auto;
}

/**********************************/


/* STYLE MENU */


/**********************************/

.menu-bar {
   z-index: 100;
   border-bottom: 1px solid #066141;
}
.menu-bar .menu {
   width: 70%;
   margin: 0 7%;
}
.menu-bar .menu li {
   width: 19%;
   list-style: none;
   display: inline-block;
   color: #FFF;
   text-align: center;
   transition: all 0.5s;
}
.menu-bar .menu li:hover {
   background: #F1F1F1;
   color: #066141;
   transition: background 0.7s;
}
.menu-bar .menu li.active {
   color: #0A76B7;
}
.content-container {
   z-index: 1;
}
.content {
   padding: 2% 0 10% 0;
   background: #FFF;
}
#content-1, #content-2, #content-3, #content-4, #content-5 {
   display: none;
}
.content-text {
   width: 90%;
   padding: 0 5%;
}
.footer {
   z-index: 10;
   height: 20px;
   line-height: 100%;
   width: 90%;
   color: #FFF;
   padding: 10px 5%;
}

/**********************************
STYLES COMMUNS 
**********************************/

.menu-bar, .menu-bar ul, .menu-bar .menu a {
   width: 100%;
}
.menu-bar, .menu-bar .menu, .menu-bar .menu li {
   height: 40px;
   line-height: 40px;
}
.menu-bar, .menu-bar .menu li, .footer, .menu-bar .menu li:hover {
   opacity: 0.85;
   filter: alpha(opacity=85);
}
.menu-bar, .menu-bar .menu li, .footer {
   background: #066141;
}

/**********************************
SLIDERS 
**********************************/


/*.slide{
  height:160px;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

#slide-1{  
  background: url('img/HermHeader.png')no-repeat center fixed;}

#slide-2{  
  background: url('https://farm4.staticflickr.com/3833/9479948621_3ed65f2162_k.jpg')no-repeat center fixed;}

#slide-3{  
  background: url('https://farm6.staticflickr.com/5294/5397530925_075912111e_o.jpg')no-repeat center fixed;}

#slide-4{  
  background: url('https://farm6.staticflickr.com/5598/15426278242_145ac03eb7_o.jpg')no-repeat center fixed;}

#slide-5{
  background: url('https://farm3.staticflickr.com/2880/12120676433_8e5bdb345d_h.jpg')no-repeat center fixed;}


/*@keyframes scroller{
0%{background:#0A76B7;} 45%{background:#0A5FB5;transform:scale(1.1);} 100%{background:#0A76B7;transform:scale(1);}
}


@-moz-keyframes scroller{
0%{background:#0A76B7;} 45%{background:#0A5FB5;transform:scale(1.1);} 100%{background:#0A76B7;transform:scale(1);}
}

@-webkit-keyframes scroller{
0%{background:#0A76B7;} 45%{background:#0A5FB5;transform:scale(1.1);} 100%{background:#0A76B7;transform:scale(1);}
}

@-ms-keyframes scroller{
0%{background:#0A76B7;} 45%{background:#0A5FB5;transform:scale(1.1);} 100%{background:#0A76B7;transform:scale(1);}
}*/

.scroller {
   display: block;
   padding-top: 8px;
   margin: 5% auto 2% auto;
   width: 100px;
   height: 100px;
   /*-webkit-border-radius:100px;
  -moz-border-radius:100px;
  -o-border-radius:100px;
  border-radius:100px;
  -webkit-animation: scroller 1s linear infinite;
  -moz-animation: scroller 1s linear infinite;
  -ms-animation: scroller 1s linear infinite;
  animation: scroller 1s linear infinite;*/
}
.scroller img {
   width: 100%;
   height: 100%;
}

/*
.scroller:hover{cursor:pointer;}

.scroll-arrow{
  float:left;
  width:16px;
  height:2px;
  background: #FFF;
}

.scroll-arrow#scrollleft{
  transform-origin: top right;
  transform: rotate(-45deg);
}
.scroll-arrow#scrollright{
  transform-origin: top left;
  transform: rotate(45deg);
}*/


/**********Animation Background Addition******/

#demodemo {
   height: 25%;
   width: 100%;
}
.gm-style-iw * {
   display: block;
   width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
   margin: 0;
   padding: 0;
}
.gm-style-iw a {
   color: #4272db;
}
.wrapper {
   background: #50a3a2;
   background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
   background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
   position: absolute;
   top: 32%;
   left: 0;
   width: 100%;
   height: 25%;
   overflow: hidden;
}
.bg-bubbles {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}
.bg-bubbles li {
   position: absolute;
   list-style: none;
   display: block;
   width: 40px;
   height: 40px;
   background-color: rgba(255, 255, 255, 0.15);
   bottom: -160px;
   -webkit-animation: square 25s infinite;
   animation: square 25s infinite;
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
   left: 10%;
}
.bg-bubbles li:nth-child(2) {
   left: 20%;
   width: 80px;
   height: 80px;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
   -webkit-animation-duration: 17s;
   animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
   left: 25%;
   -webkit-animation-delay: 4s;
   animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
   left: 40%;
   width: 60px;
   height: 60px;
   -webkit-animation-duration: 22s;
   animation-duration: 22s;
   background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
   left: 70%;
}
.bg-bubbles li:nth-child(6) {
   left: 80%;
   width: 120px;
   height: 120px;
   -webkit-animation-delay: 3s;
   animation-delay: 3s;
   background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
   left: 32%;
   width: 160px;
   height: 160px;
   -webkit-animation-delay: 7s;
   animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
   left: 55%;
   width: 20px;
   height: 20px;
   -webkit-animation-delay: 15s;
   animation-delay: 15s;
   -webkit-animation-duration: 40s;
   animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
   left: 25%;
   width: 10px;
   height: 10px;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
   -webkit-animation-duration: 40s;
   animation-duration: 40s;
   background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
   left: 90%;
   width: 160px;
   height: 160px;
   -webkit-animation-delay: 11s;
   animation-delay: 11s;
}
@-webkit-keyframes square {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }
   100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
   }
}
@keyframes square {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }
   100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
   }
}

/***********************WEB SERVICE FORM STYLING****************/


/***********************LOGIN FORM STYLING**********************/

.form-register {
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;
   font: bold 14px sans-serif;
   text-align: center;
}
.form-register-with-email {
   position: relative;
   display: inline-block;
   vertical-align: top;
   margin-right: 130px;
   text-align: center;
}
.form-register-with-email .form-white-background {
   width: 570px;
   box-sizing: border-box;
   background-color: #ffffff;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
   padding: 60px 80px;
   margin-bottom: 35px;
}
.form-register-with-email .form-row {
   text-align: left;
   margin-bottom: 23px;
}
.form-register-with-email .form-title-row {
   text-align: center;
   margin-bottom: 50px;
}
.form-register-with-email h1 {
   display: inline-block;
   box-sizing: border-box;
   color: #4c565e;
   font-size: 24px;
   padding: 0 20px 15px;
   border-bottom: 2px solid #6caee0;
   margin: 0;
}
.form-register-with-email .form-row>label span {
   display: inline-block;
   box-sizing: border-box;
   color: #5f5f5f;
   width: 125px;
   text-align: right;
   padding-right: 25px;
}
.form-register-with-email input {
   color: #5f5f5f;
   box-sizing: border-box;
   width: 230px;
   box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
   padding: 12px 18px;
   border: 1px solid #dbdbdb;
}
.form-register-with-email .form-checkbox input {
   margin-left: 128px;
   margin-right: 10px;
   width: auto;
   vertical-align: top;
}
.form-register-with-email .form-row .form-checkbox span {
   font-size: 12px;
   font-weight: normal;
   display: inline-block;
   text-align: left;
   width: 220px;
   margin: 0;
}
.form-register-with-email .form-checkbox span a {
   text-decoration: none;
   color: #6caee0;
}
.form-register-with-email button {
   display: block;
   border-radius: 2px;
   background-color: #6caee0;
   color: #ffffff;
   font-weight: bold;
   box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
   padding: 15px 35px;
   border: 0;
   margin: 55px auto 0;
   cursor: pointer;
}
.form-register-with-email .form-log-in-with-existing {
   text-decoration: none;
   padding: 4px 8px;
   font-weight: normal;
   color: #7b9d62;
   background-color: #d6f0c3;
}
.form-register-with-email:after {
   content: 'OR';
   position: absolute;
   bottom: 330px;
   right: -100px;
   border-radius: 50%;
   background-color: #edeca5;
   width: 50px;
   height: 50px;
   color: #93923b;
   font-size: 17px;
   line-height: 50px;
}
.form-sign-in-with-social {
   display: inline-block;
   max-width: 180px;
   box-sizing: border-box;
   vertical-align: top;
   text-align: center;
   margin-top: 100px;
}
.form-sign-in-with-social .form-title-row {
   margin-bottom: 50px;
}
.form-sign-in-with-social .form-title {
   box-sizing: border-box;
   color: #4c565e;
   font-size: 24px;
   padding: 15px 20px;
   border-bottom: 2px solid #6caee0;
}
.form-sign-in-with-social .form-google-button {
   color: #ffffff;
   display: block;
   width: 145px;
   height: 40px;
   font-size: 12px;
   line-height: 40px;
   background-color: rgba(222, 110, 60, 0.9);
   box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
   border-radius: 2px;
   margin: 8px auto;
   text-decoration: none;
}
.form-sign-in-with-social .form-facebook-button {
   color: #ffffff;
   display: block;
   width: 145px;
   height: 40px;
   font-size: 12px;
   line-height: 40px;
   background-color: rgba(75, 136, 194, 0.9);
   box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
   border-radius: 2px;
   margin: 8px auto;
   text-decoration: none;
}
.form-sign-in-with-social .form-twitter-button {
   color: #ffffff;
   display: block;
   width: 145px;
   height: 40px;
   font-size: 12px;
   line-height: 40px;
   background-color: rgba(123, 195, 226, 0.9);
   box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
   border-radius: 2px;
   margin: 8px auto;
   text-decoration: none;
}

/*  Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {
   .form-register {
      margin: 20px auto;
   }
   .form-register-with-email {
      position: relative;
      display: block;
      margin: 0;
   }
   .form-register-with-email .form-white-background {
      margin: 0 auto 32px;
   }
   .form-register-with-email:after {
      bottom: -80px;
      left: 50%;
      margin-left: -25px;
   }
   .form-sign-in-with-social {
      margin-top: 105px;
   }
}
@media (max-width: 600px) {
   .form-register-with-email .form-white-background {
      width: 300px;
      padding-left: 35px;
      padding-right: 35px;
   }
   .form-register-with-email .form-row>label span {
      display: block;
      text-align: left;
      padding: 0 0 10px;
   }
   .form-register-with-email input {
      display: block;
      margin: 0 auto;
   }
   .form-register-with-email .form-checkbox input {
      display: inline-block;
      margin-left: 0;
   }
   .form-register-with-email .form-checkbox span {
      width: 200px !important;
   }
   .form-register-with-email:after {
      bottom: -80px;
      left: 50%;
      margin-left: -25px;
   }
}

/**************Form Styling by Miguel and Jane*************************/

.uploader_style {
   margin: 2px 0px 5px 0px;
}
ul {
   list-style-type: none;
}
.content-text {
   display: inline;
}
.form-signin {
   width: 430px;
   height: 375px;
   font-size: 16px;
   font-weight: 300;
   transition: opacity .5s ease, transform .5s ease;
}
.form-styling {
   width: 100%;
   padding-left: 5px;
   height: 35px;
   border: none;
   border-radius: 10px;
   margin-bottom: 20px;
   background: rgba(152, 152, 152, 0.2);
}
#fileToUpload {
   width: 100%;
   height: 35px;
   border: none;
   border-radius: 10px;
   margin-bottom: 0px;
}

/* use css below for registration.html*/

* {
   margin: 0px;
   padding: 0px;
}
.form {
   text-align: center;
   padding: 30px 0px;
}
.yesNo {
   margin: 10px 0px;
}
#container {
   width: 550px;
   background-color: rgba(250, 250, 252, .9);
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 0 0 3px #999;
}
#container_body {}
.regSubmit {
   background-color: #066141;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 15px 0px 0px 0px;
   cursor: pointer;
   border-radius: 10px;
}
.regSubmit:hover {
   background-color: #0da018;
   /* Green */
   color: white;
}
.input_name {
   width: 214px;
   padding: 5px;
   font-size: 18px;
   margin: 15px 0px;
}
.input {
   width: 434px;
   padding: 5px;
   font-size: 18px;
   margin: 15px 0px;
}
