body {
    margin: 0px;
}

/* navbar div */
.tabs {
    list-style-type: none;
    display: -webkit-box;
    font-family: 'Raleway';
    padding: 0px;
    margin: 12px 0px 0px 0px;
}
.navbar_container {
    background: #1a1919;
    color: whitesmoke;
}
.navbar-right {
    position: static;
    float: right;
}

.navbar-left {
    display: -webkit-inline-box;
}

#tab {
    font-size: 120%;
    margin: 20px;
}

.logo-text {
    font-family: 'Pacifico', cursive;
    /*margin: 25px 50px;*/
    margin:16px 16px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
/* unvisited link */
a:link {20px
    color: white;
}
/* mouse over link */
a:hover {
    color: green;
}
/* selected link */
a:active {
    color: none;
} 
/* body div */

.banner {
    width: 100%;
    background-size: cover;
}

.banner-image {
    width: 100%;

}

#banner-text {
    text-align: center;
    font-size: 230%;
    font-family: "DIN Next W01 script=all rev=2";
    margin: 0px 0px;
}
.seperator {
    width: 48px;
    border-top: 2px solid green;
    text-align: center;
    display: block;
    margin: 30px auto 30px auto;
}
/* button */

.form {
   text-align: center;
   padding: 30px 0px;
}
.yesNo {
   margin: 10px 0px;
}
#container {
   width: 550px;
   background-color: rgba(250, 250, 252, .9);
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 0 0 3px #999;
}
#container_body {

}

.button {
    background-color: #1a1919;
    border: none;
    color: white;
    padding: 16px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
   background-color: #0da018;
   /* Green */
   color: white;
}
/* footer */