body {
    margin: 0px;
}

/* navbar div */
.tabs {
    list-style-type: none;
    display: -webkit-box;
    font-family: 'Raleway';
    padding: 0px;
    margin: 12px 0px 0px 0px;
}
.navbar_container {
    background: #1a1919;
    color: whitesmoke;
}
.navbar-right {
    position: static;
    float: right;
}

.navbar-left {
    display: -webkit-inline-box;
}

#tab {
    font-size: 120%;
    margin: 20px;
}

.logo-text {
    font-family: 'Pacifico', cursive;
    /*margin: 25px 50px;*/
    margin:16px 16px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
/* unvisited link */
a:link {20px
    color: white;
}
/* mouse over link */
a:hover {
    color: green;
}
/* selected link */
a:active {
    color: none;
} 
.logo-text-link:hover {
    color: whitesmoke;
}
/* body div */

.banner {
    width: 100%;
    background-size: cover;
}

.banner-image {
    width: 100%;
    display: block;

}

#banner-text {
    text-align: center;
    font-size: 230%;
    font-family: "DIN Next W01 script=all rev=2";
    margin: 20px 0px;
}
.seperator {
    width: 48px;
    border-top: 2px solid green;
    text-align: center;
    display: block;
    margin: 0px auto 30px auto;
}
.panel {
    background: #1a1919;
    color: whitesmoke;
    padding: 40px;
}

.services-header {
    margin: 2pc;
    font-size: 5.4pc;
}

.services-text {
    text-align: center;
}

/* button */


.button {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 16px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 40px auto;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
   color: green;
}
.about-us {
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 16px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 10px;
}
.about-us:hover {
   color: green;
}
/* panel */

.panel-2 {
    background: whitesmoke;
    color: black;
    padding: 70px;
    display: grid;

}
.panel-2-header {

}

.panel-2-p {
}
/* footer */
.social-media {
        padding: 10px 10pc;
    text-align: center;
    /* display: flex; */
    margin: 0 auto;
}
.footer {
    padding: 3pc;
    background: #1a1919;
    color: whitesmoke;
    font-size: larger;
}

/**************Forms************************/

.uploader_style {
   margin: 2px 0px 5px 0px;
}
ul {
   list-style-type: none;
}
.content-text {
   display: inline;
}
.form-signin {
   width: 430px;
   height: 375px;
   font-size: 16px;
   font-weight: 300;
   transition: opacity .5s ease, transform .5s ease;
}
.form-styling {
   width: 100%;
   padding-left: 5px;
   height: 35px;
   border: none;
   border-radius: 10px;
   margin-bottom: 20px;
   background: rgba(152, 152, 152, 0.2);
}
#fileToUpload {
   width: 100%;
   height: 35px;
   border: none;
   border-radius: 10px;
   margin-bottom: 0px;
}

/* use css below for registration.html*/

* {
   margin: 0px;
   padding: 0px;
}
.form {
   text-align: center;
   padding: 30px 0px;
}
.yesNo {
   margin: 10px 0px;
}
#container {
   width: 550px;
   background-color: rgba(250, 250, 252, .9);
   margin: auto;
   margin-top: 6pc;
    margin-bottom: 8pc;
   box-shadow: 0 0 3px #999;
}
#container_body {}
.regSubmit {
   background-color: #1a1919;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 15px 0px 0px 0px;
   cursor: pointer;
   border-radius: 10px;
}
.regSubmit:hover {
   /* Green */
   color: green;
}
.input_name {
   width: 208px;
   padding: 5px;
   font-size: 18px;
   margin: 15px 0px;
}
.input {
   width: 434px;
   padding: 5px;
   font-size: 18px;
   margin: 15px 0px;
}
